.home {
  display: flex;
  flex-direction: row;

  &-mainMenu {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: var(--padding-mainMenu);
    // background-color: rgba(249,223,233);

    &-header {
      display: flex;
      justify-content: space-between;

      &-welcome {
        font-size: var(--font-size-title);
        text-transform: uppercase;
      }

      &-avatar {
        display: flex;
        align-items: center;

        .home-avatar {
          font-size: 2.7em;
        }
      }
    }

    &-body {
      display: flex;
      flex: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    &-leftSidebar {
      display: none;
    }
    &-mainMenu {
      &-header {
        &-welcome {
          font-size: 1.25rem;
        }
        &-avatar {
          .home-avatar {
            font-size: 1.875rem;
          }
        }
      }
    }
  }
  
}